@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.card {
    border-radius: 0.8rem!important;
}

.card-img-overlay {
    border-radius: 0.8rem!important;
}

.rounded-xl {
    border-radius: 0.8rem!important;
}

.rounded-xl-bottom {
    border-bottom-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
}

.rounded-xl-top {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
}


.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Source Code Pro, monospace;
}

.badge-publication-custom {
    font-size: 100%;
    background-color: #B3D89C !important; 
    color: #ffffff !important;
}

.badge-poster-custom {
    font-size: 100%;
    background-color: #AAA1C8 !important;
    color: #ffffff !important;
}

/* default year text */
#navbar-year .nav-link {
    color: #AAA1C8 !important; 
}

/* hover state */
#navbar-year .nav-link:hover {
    color: #AAA1C8 !important;
    background-color: #F1ECFF !important;
}

/* selected year */
#navbar-year .nav-link.active {
    color: white !important;
    background-color: #AAA1C8 !important;
}


/* default button style */
.btn-outline-primary {
    color: #AAA1C8 !important;
    border-color: #AAA1C8 !important;
}

/* hover and click state */
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    color: #ffffff !important;
    background-color: #AAA1C8 !important;
    border-color: #AAA1C8 !important;
    box-shadow: none !important;
}

.email-text {
    color: #746797 !important;
}
.email-text:hover {
    color: #AAA1C8 !important;
}

/* profile card links/icons */
.profile-card a {
    color: #AAA1C8 !important;
}

/* hover state */
.profile-card a:hover {
    color: #AAA1C8 !important;
}

/* social icons */
.profile-card .social-icons i,
.profile-card .social-icons svg {
    color: #AAA1C8 !important;
}

/* social icon hover */
.profile-card .social-icons a:hover i,
.profile-card .social-icons a:hover svg {
    color: #AAA1C8 !important;
}
